.discount_rate {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 17px;
  background: #111321;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #fff;

  span {
    padding: 4px;
    color: #2cb34f;
  }
}
